coverage/
*.tsbuildinfo
node_modules/
.DS_Store
tmp/
dist/
build/
!scratchpad/tsconfig.json
.direnv/
.idea/
private/

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
